@media (max-widht: 1280px){
    body{
        padding: 0 40px;
    }
}

@media (max-widht: 768px){
    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .descricao{
        width: 60%;
        text-align: center;
    }
}